.mobile-main7-searchbar>div {
    color: gray;
    boxShadow: 0px 0px 25px rgba(39, 101, 132, 0.3);
    borderRadius: 9px;
}

.mobile-main7-searchbar>div>div {
    color: white;
    boxShadow: 0px 0px 25px rgba(39, 101, 132, 0.3);
    borderRadius: 9px;
}

.mobile-main7-table>table {
    background-color: #1E1E1E;
    border: none;
    color: white;
}

.mobile-main7-table>table>thead {
    background-color: #1E1E1E;
    border: none;
    color: white;
}